<div class="container">
    <!-- header -->
    <div class="row">
        <div class="col-md-12 d-flex flex-row align-items-center justify-content-center">
            <img style="width: 250px;" src="../../../../../assets/undraw_tree_swing_re_pqee.svg"/>
            <h5 class="mb-4 mt-4 fw-bold">OpenAI Search Wrapper</h5>
        </div>
        <div class="col-md-12 d-flex flex-row align-items-center justify-content-center">
            <!-- <p class="mb-4 text-sm">Absolutely free 😇 | For optimal results 🚀</p> -->
            <p class="mb-4"></p>
        </div>
    </div>
    <!-- input -->
    <div class="row m-3">
        <div class="col-md-12">
            <app-search-query-input></app-search-query-input>
        </div>
    </div>
    <!-- output -->
    <div class="row m-3">
        <div class="col-md-12">
            <app-search-query-output></app-search-query-output>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer">
        <div class="row">
            <div class="col-md-12 text-center">
                <h6>Made In India with ❤️</h6>
            </div>
        </div>
    </footer>
</div>
